parameters:
    ignoreErrors:
        -
            message: '/Variable \$oro might not be defined./'
            paths:
                - %currentWorkingDirectory%/examples

        -
            message: "#^Call to an undefined method Oro\\\\Api\\\\Endpoints\\\\EndpointAbstract\\:\\:getResourceCollectionObject\\(\\)\\.$#"
            count: 1
            path: src/Endpoints/EndpointAbstract.php

        -
        	message: '/Access to undefined constant GuzzleHttp\\ClientInterface::/'
        	path: src/HttpAdapter/OroHttpAdapterPicker.php
        	count: 1

        -
        	message: '/Access to undefined constant GuzzleHttp\\ClientInterface::/'
        	path: src/HttpAdapter/Guzzle6And7OroHttpAdapter.php
        	count: 1
